@mixin jumi-border-bc {
  visibility: hidden;
  position: absolute;
  bottom: 0;
  left: 50%;
  right: 50%;
}

@for $sequence from 1 through 20 {
  .jumi-border-bc-#{$sequence},
  .hover\:jumi-border-bc-#{$sequence}:hover {
    @include jumi-border-bc;
    @include function-generator(border);
    --border: jumi-border-bc-#{$sequence};  
  }

  @keyframes jumi-border-bc-#{$sequence} {
    to {
      visibility: visible;
      left: #{50 - $sequence * 2.5%};
      right: #{50 - $sequence * 2.5%};
    }
  }
}
