@mixin jumi-border-br {
  visibility: hidden;
  position: absolute;
	width: 0;
  bottom: 0;
  right: 0;
}

@for $sequence from 1 through 20 {
  .jumi-border-br-#{$sequence},
  .hover\:jumi-border-br-#{$sequence}:hover {
    @include jumi-border-br;
    @include function-generator(border);
    --border: jumi-border-br-#{$sequence};
  }

  @keyframes jumi-border-br-#{$sequence} {
    to {
      visibility: visible;
      width: #{$sequence * 5%};
    }
  }
}
