@mixin jumi-border-bl {
  visibility: hidden;
  position: absolute;
	width: 0;
  bottom: 0;
  left: 0;
}

@for $sequence from 1 through 20 {
  .jumi-border-bl-#{$sequence},
  .hover\:jumi-border-bl-#{$sequence}:hover {
    @include jumi-border-bl;
    @include function-generator(border);
    --border: jumi-border-bl-#{$sequence};
  }

  @keyframes jumi-border-bl-#{$sequence} {
    to {
      visibility: visible;
      width: #{$sequence * 5%};
    }
  }
}
