@mixin jumi-border-lc {
  visibility: hidden;
  position: absolute;
	height: 0;
  left: 0;
  top: 50%;
  bottom: 50%;
  margin-top: auto;
  margin-bottom: auto;
}

@for $sequence from 1 through 20 {
  .jumi-border-lc-#{$sequence},
  .hover\:jumi-border-lc-#{$sequence}:hover {
    @include jumi-border-lc;
    @include function-generator(border);
    --border: jumi-border-lc-#{$sequence};
  }

  @keyframes jumi-border-lc-#{$sequence} {
    to {
      visibility: visible;
      height: #{$sequence * 5%};
    }
  }
}
