@mixin jumi-border-tr {
  visibility: hidden;
  position: absolute;
	width: 0;
  top: 0;
  right: 0;
}

@for $sequence from 1 through 20 {
  .jumi-border-tr-#{$sequence},
  .hover\:jumi-border-tr-#{$sequence}:hover {
    @include jumi-border-tr;
    @include function-generator(border);
    --border: jumi-border-tr-#{$sequence};
  }

  @keyframes jumi-border-tr-#{$sequence} {
    to {
      visibility: visible;
      width: #{$sequence * 5%};
    }
  }
}
