@mixin jumi-border-tl {
  visibility: hidden;
  position: relative;
	width: 0;
  top: 0;
  left: 0;
}

@for $sequence from 1 through 20 {
  .jumi-border-tl-#{$sequence},
  .hover\:jumi-border-tl-#{$sequence}:hover {
    @include jumi-border-tl;
    @include function-generator(border);
    --border: jumi-border-tl-#{$sequence};
  }

  @keyframes jumi-border-tl-#{$sequence} {
    to {
      visibility: visible;
      width: #{$sequence * 5%};
    }
  }
}
