.jumi-back-out {
  @include function-generator("effect");
  animation-name: jumi-back-out;
}

@keyframes jumi-back-out {
  0% {
    scale: 1;
  }

  20% {
    scale: 1;
  }

  100% {
    scale: 0.7;
  }
}
