.jumi-bounce-out {
  @include function-generator("effect");
  --effect: jumi-bounce-out;
}

@keyframes jumi-bounce-out {
  20% {
    transform: scale3d(0.9, 0.9, 0.9);
  }

  50%,
  55% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  to {
    transform: scale3d(0.3, 0.3, 0.3);
  }
}
