.jumi-flip-x {
  @include function-generator("effect");
  animation-name: jumi-flip-x;
}

@keyframes jumi-flip-x {
  from {
    transform: perspective(--perspective) rotateX(-180deg);
  }
  to {
    transform: perspective(--perspective) rotateX(-360deg);
  }
}
