.jumi-move-back {
  @include function-generator("effect");
  animation-name: jumi-move-back;
}

@keyframes jumi-move-back {
  40% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(0deg);
    animation-timing-function: cubic-bezier(0, 0.9, 0.7, 1.45);
  }
}
