@use "sass:list";

@import "variables";
@import "library";
@import "animation";
@import "effect";
@import "property";
@import "transforms";

:root {
  --duration: 1s;
  --timing-function: ease;
  --delay: 0s;
  --direction: normal;
  --iteration-count: 1;
  --fill-mode: forwards;
  --play-state: running;
}

.jumi {
  @include jumi();
}

.group-hover\:jumi {
  :hover > & {
    @include jumi();
  }
}

.hover\:jumi:hover {
  @include jumi();
}
